.wrapper_buttons {
	display: flex;
	width: 100%;
	align-items: center;
	flex-direction: column;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.input {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 50%;
}

label[for="user_number"] {
	color: var(--font-color);
	font-size: 18px;
	position: absolute;
	top: -26px;
	left: 0;
}

.basic-input {
	height: 50px;
	border-radius: 5px;
	border: 0;
	outline: 0;
	padding: 12px;
	font-size: 25px;
	letter-spacing: 0.1em;

	background-color: var(--light-primary-color);
	color: var(--dark-primary-color);
}

.basic-input:focus {
	box-shadow: 0 0 10px 0 var(--dark-primary-color);
}

#user_number {
	width: 100%;
}

.buttons {
	width: 50%;
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.basic-btn {
	width: 230px;
	height: 50px;

	border: 0;
	outline: 0;
	border-radius: 5px;
	cursor: pointer;
	color: var(--font-color);
	background-color: var(--dark-primary-color);

	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 0.1em;

	transition: all 0.2s ease;
}

.new_game-btn {
	background-color: transparent;
	border: 1px seashell solid;
}

.basic-btn:hover,
.new_game-btn:hover {
	background-color: var(--dark-color);
	border: 0;
}

.basic-btn:active,
.new_game-btn:active {
	background-color: var(--btn-bg-active-color);
	border: 0;
}
.basic-btn:disabled {
	cursor: not-allowed;
	color: var(--btn-font-disabled-color);
	background-color: var(--btn-bg-disabled-color);
}

#user_number:disabled {
	cursor: not-allowed;
}
