@media (max-width: 1300px) {
	.footer__container {
		padding: 0 15px;
	}
	.buttons button:not(:last-child) {
		margin-right: 25px;
	}
}
@media (max-width: 955px) {
	header h1 {
		font-size: 80px;
		padding: 0 15px;
	}
	.title_enter {
		font-size: 30px;
	}
	.basic-btn {
		font-size: 15px;
		margin-top: 30px;
	}
	.buttons {
		flex-direction: column;
	}
	.buttons button {
		width: 100%;
	}
	.buttons button:not(:last-child) {
		margin: 0;
	}
}
@media (max-width: 760px) {
	.header h1 {
		font-size: 60px;
	}
	.min_text,
	.max_text {
		line-height: 1.1;
		font-size: 30px;
		font-weight: 700;
	}
	.title_enter-text {
		font-size: 20px;
		height: 30 px;
	}
	.wrapper_info {
		height: 120%;
		padding: 0 15px;
	}
}
@media (max-width: 635px) {
	.title_enter-text,
	.title_enter-podtext {
		font-size: 15px;
	}
}
@media (max-width: 570px) {
	.header h1 {
		font-size: 50px;
		line-height: 100px;
	}
	.title_enter {
		font-size: 20px;
	}
	.wrapper_buttons {
		align-items: inherit;
	}
	.buttons {
		width: 100%;
	}
	#user_number {
		width: 200%;
	}
}
